<div class="row"> 
    <h2> Educación </h2>
    <div class="col-lg-10"> 
      <ul>
        <li>
            <h3>Educación</h3> - <h4>Años trabajados</h4>
        </li>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae eveniet eligendi natus fugiat quis eos, dolorem, provident minus perferendis at rem saepe neque voluptatum molestias magni expedita eaque qui unde.</p>
      </ul>
      <ul>
        <li>
            <h3>Educación 2</h3> - <h4>Años trabajados</h4>
        </li>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae eveniet eligendi natus fugiat quis eos, dolorem, provident minus perferendis at rem saepe neque voluptatum molestias magni expedita eaque qui unde.</p>
      </ul>
      </div>
          </div>
