.gradient-custom {
    /* fallback for old browsers */
    background: #2727cf;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(243, 242, 244), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(250, 249, 250), rgba(37, 117, 252, 1))
}

.btnEditDelete{
    margin-top: 25px;
}