<div> 
    <a href=""><img src="../../../assets/imagenes/linkedin.png" class="avatar"></a>
    <a href=""><img src="../../../assets/imagenes/instagram.png" class="avatar"></a>
    <a href=""><img src="../../../assets/imagenes/twitter.png" class="avatar"></a>
    <a href=""><img src="../../../assets/imagenes/facebook.png" class="avatar"></a>
    <a href=""><img src="../../../assets/imagenes/github.png" class="avatar"></a>
    <a href=""><img src="../../../assets/imagenes/youtube.png" class="avatar"></a>
   </div>
