<div class="row">
    <div class="container">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src={{persona.img}} class="img-fluid my-img">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
            <button type="button" class="btn btn-outline-success funEdit" routerLink="/editaracercade/1" *ngIf="isLogged"> 
            <i class="bi bi-pencil"></i></button>
        </div>
    
    
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h2 class ="nombre">{{persona.apellido}} {{persona.nombre}}</h2>
        <h4>Full Stack Developer Jr</h4>
    </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-6">
            <h2> Acerca de mi</h2>
            <span>
                {{persona.descripcion}}
            </span>
        </div>
    </div>
</div>
