<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/imagenes/nacho.jpg" class="img-fluid my-img">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h2> Millan Ignacio</h2>
        <h4>Full Stack Developer Jr</h4>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-8">
        <h2> Acerca de mi</h2>
        <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Numquam molestias fugiat, deleniti incidunt error et, animi facilis iste laboriosam, 
            debitis nobis tempore? Doloremque vitae sequi cumque laudantium unde non id.
        </span>
        
    </div>
</div>
