.container {
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.redes{
    margin-right: 0.5em;
}
.logoap {
    width: 150px;
    }

.avatar {
        margin: 2px;
        width: 50px;
    }
    
.centro_img {
        margin: 10px;
    }

.btn {
    border-width: 1.5px;
}    

/*--- Para la vista en celular ----*/
@media (max-width: 575px){

.container{
        flex-direction: column;
    }

.redes {
          display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
    }
     }
