<div class="row"> 
   <div class="container">
      <div class="logo">
   <img src="../../../assets/imagenes/APLogo.png"  class ="logoap">
      </div>
   <div class="redes">
     <a href=""><img src="../../../assets/imagenes/linkedin.png" class="avatar"></a>
     <a href=""><img src="../../../assets/imagenes/instagram.png" class="avatar"></a>
     <a href=""><img src="../../../assets/imagenes/facebook.png" class="avatar"></a>
     <a href=""><img src="../../../assets/imagenes/github.png" class="avatar"></a>
     <a href=""><img src="../../../assets/imagenes/youtube.png" class="avatar"></a>
     <button type="button" class="btn btn-outline-light btn-lg centro_img" (click)="login()">INGRESAR</button>
   </div>
     </div>
   </div>
     
  