<div class="row"> 
    <h2> Proyectos Realizados</h2>
    <div class="container"> 
      <div class="col-sm-12 col-md-6 col-lg-6 proyecto">
        <h3>Portfolio Web</h3> - <h4>Octubre 2022</h4>
        <p>Trabajo final realizado para la segunda etapa de Argentina Programa. Frontend y Backend aplicando Angular, Html, CSS. </p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 img-proyecto offset-md-1 offset-lg-1">
          <a href="https://portfoliomillan-frontend.web.app/"><img src="../../../assets/imagenes/portfolio.png" class="img-fluid"></a>
        </div>  
      <div class="col-sm-12 col-md-6 col-lg-6 proyecto">
        <h3>Boletín Escolar Dinamico</h3> - <h4>Julio 2020</h4>
        <p>Trabajo realizado en Excel. Boletin de calificaciones digital con base de datos relacionada con la planilla de calificaciones, aplicaciones de formulas para autocompletado y agilizar la elaboración de boletines en cantidad.</p>
    </div> 
        <div class="col-sm-12 col-md-3 col-lg-3 img-proyecto offset-md-1 offset-lg-1">
          <a href="https://docs.google.com/spreadsheets/d/1Mrdu5D87mtCuQOEaBhiCWZfqNwnLOvAR/edit?usp=sharing&ouid=111201363407055139903&rtpof=true&sd=true"><img src="../../../assets/imagenes/boletin.png" class="img-fluid"></a>
      </div>

        <div class="col-sm-12 col-md-6 col-lg-6 proyecto">
        <h3>Planilla de Califiaciones Virtual</h3> - <h4>Mayo 2020</h4>
        <p>Trabajo realizado en Excel y Drive. Planilla de calificaciones digital con menu desplegable para un facil manejo de los docentes y optimzar el tiempo de llenado</p>
    </div> 
        <div class="col-sm-12 col-md-3 col-lg-3 img-proyecto offset-md-1 offset-lg-1">
          <a href="https://docs.google.com/spreadsheets/d/12rQw6tLBiqBo9nyPzBF3voGqPTd0ZJgQ/edit?usp=sharing&ouid=111201363407055139903&rtpof=true&sd=true"><img src="../../../assets/imagenes/planilla calificaciones.png" class="img-fluid"></a>
      </div>
      </div>
</div>

