<div class="row"> 
    <h2> Hard & Soft Skills</h2>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
        [percent]="85"
        [animateTitle]="true"
        [animationDuration]="800"
        [subtitle]="'HTML'"
        [subtitleFontSize]="'15'"
        [subtitleColor]="'black'"
        [radius]="100"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#9bd2e4'"
        [innerStrokeColor]="'blue'"
        [backgroundGradient]="true"
        [backgroundPadding]="-20"
        [backgroundColor]="'white'"
        [backgroundGradientStopColor] = "'#c0c0c0'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
        [percent]="85"
        [animateTitle]="true"
        [animationDuration]="800"
        [subtitle]="'CSS'"
        [subtitleFontSize]="'15'"
        [subtitleColor]="'black'"
        [radius]="100"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#9bd2e4'"
        [innerStrokeColor]="'blue'"
        [backgroundGradient]="true"
        [backgroundPadding]="-20"
        [backgroundColor]="'white'"
        [backgroundGradientStopColor] = "'#c0c0c0'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
        [percent]="85"
        [animateTitle]="true"
        [animationDuration]="800"
        [subtitle]="'BASE DE DATOS'"
        [subtitleFontSize]="'15'"
        [subtitleColor]="'black'"
        [radius]="100"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#9bd2e4'"
        [innerStrokeColor]="'blue'"
        [backgroundGradient]="true"
        [backgroundPadding]="-20"
        [backgroundColor]="'white'"
        [backgroundGradientStopColor] = "'#c0c0c0'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
        [percent]="85"
        [animateTitle]="true"
        [animationDuration]="800"
        [subtitle]="'PROACTIVIDAD'"
        [subtitleFontSize]="'15'"
        [subtitleColor]="'black'"
        [radius]="100"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#9bd2e4'"
        [innerStrokeColor]="'blue'"
        [backgroundGradient]="true"
        [backgroundPadding]="-20"
        [backgroundColor]="'white'"
        [backgroundGradientStopColor] = "'#c0c0c0'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
        [percent]="85"
        [animateTitle]="true"
        [animationDuration]="800"
        [subtitle]="'COMUNICACIÓN'"
        [subtitleFontSize]="'15'"
        [subtitleColor]="'black'"
        [radius]="100"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#9bd2e4'"
        [innerStrokeColor]="'blue'"
        [backgroundGradient]="true"
        [backgroundPadding]="-20"
        [backgroundColor]="'white'"
        [backgroundGradientStopColor] = "'#c0c0c0'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
        [percent]="85"
        [animateTitle]="true"
        [animationDuration]="800"
        [subtitle]="'TRABAJO EN EQUIPO'"
        [subtitleFontSize]="'15'"
        [subtitleColor]="'black'"
        [radius]="100"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#9bd2e4'"
        [innerStrokeColor]="'blue'"
        [backgroundGradient]="true"
        [backgroundPadding]="-20"
        [backgroundColor]="'white'"
        [backgroundGradientStopColor] = "'#c0c0c0'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
    </div>
  </div>